{
  auto_https off
}

:3000 {
  tls /certs/cert.pem /certs/key.pem
  reverse_proxy touchscreen-display:3000
}

:8080 {
  tls /certs/cert.pem /certs/key.pem
  reverse_proxy server:8080
}

:8000 {
  tls /certs/cert.pem /certs/key.pem
  reverse_proxy server:8000
}

:8001 {
  tls /certs/cert.pem /certs/key.pem
  reverse_proxy chatbot-backend:8001
}

:9000 {
  tls /certs/cert.pem /certs/key.pem
  reverse_proxy ocr:9000
}
